@import url("navigation.css");
@import url("footer.css");
@import url("content.css");

/*
==============
common styling
============== 
*/

* {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  padding: 8px 15px;
}

a:hover > p {
  background-color: #fecc00;
  border: 2px solid #000;
  color: #000;
}

body {
  background-color: #fecc00;
}
