.content p {
   font-family: Helvetica, sans-serif;
   font-size: 16px;
}

.logo img {
   height: 100px;
}

.content img {
   width: 1280px;
}

img {
   opacity: 0.5;
}

.img-small img{
   width: 550px;
   height: auto;
   opacity: 1;
}